.detalle{
    width: 1200px;
    height: 820px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    color: white; 
}
.capital{
    color: white; 
}
.actividad{
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    color: white; 
    font-size: 1.3rem;
}
.ButtonVolver{
    padding: 4px 10px;
    border: none;
    background: transparent;
    color: white;
    border: 0.5px solid #0099CC;
}
.ButtonVolver:hover{
    background-color: cornflowerblue;
    color: white;
    transition:0.5s;
    border: 0.2px solid #0099CC;
}
.DivVolver{
    margin-top: 20px;
}